html,
body,
div,
.columns {
  margin: 0;
  padding: 0;
  color: rgb(179, 200, 206);
  letter-spacing: 1.5px;
  font-family: "Roboto", sans-serif;
}

.particles {
  z-index: 0;
  position: relative;
}

.columns:not(:last-child) {
  /* Bulma margin */
  margin-bottom: 0;
}

body {
  background-color: #022a35;
}
.container {
  height: 100vh;
  background: blue;
}

#main-section {
  background-color: #0f404e;
  border-radius: 2%;
  position: absolute;
  text-align: center;
  -webkit-box-shadow: 3px 3px 41px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 3px 41px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 41px 1px rgba(0, 0, 0, 0.6);
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.full-height {
  height: 100vh;
}

.is-centered {
  text-align: center;
}

.login-title {
  color: #ffffff;
  text-align: center;
  font-size: 350%;
  font-weight: 500;
  text-transform: uppercase;
  margin: 2vh;
}

input {
  text-align: center;
}

.form {
    margin: 0 auto;
}

.login-input {
  display: inline-block;
  border: none;
  padding: 0.2vw;
  margin: 1.5vh;
  border-radius: 2%;
  font-size: 150%;
}

#submit-register-button, #submit-login-button {
  margin-top: 1vh;
}

.login-button:hover {
    opacity: 0.9;
}

.login-button:active {
  transform: translateY(2px);
}

.home-navbar {
    display: inline-block;
    width: 40%;
    background-color: #092f3a;
    color: #fff;
    padding: 1% 0;
    margin: 1%;
    border-radius: 2%;
}

.home-navbar:hover {
    opacity: 0.7;
    transition-duration: 300ms;
}

/*
* TO-DO PAGE
*/

#list-todo-section {
  text-align: left;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 200%;
}

.todo-input {
  display: block;
  border: none;
  padding: 0.2vw;
  margin: 1.5vh;
  border-radius: 2%;
  font-size: 175%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.todo-checkbox {
  transform: scale(2);
}


.checked-task {
  text-decoration: line-through;
  transition: 
}

#add-task-error-message {
  color: #FFF;
  text-align: center;
}