h1 {
  margin: 0;
  color: rgba(175, 47, 47, 0.15);
  font-weight: 100;
  font-size: 650%;
}

.App {
  padding: 2vh;
  background-color: #fff;
  font-size: 200%;
  border-radius: 1%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  width: 50vw;
}

@media screen and (max-width: 650px){
  .App {
    font-size: 150%;
    width: 80vw;  
  }
}

